<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand text-white" href="/dashboard"><i class="fa fa-graduation-cap fa-lg mr-2"></i>EMLAK PORTALI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
            aria-controls="nvbCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active pl-1">
                    <a class="nav-link" href="/dashboard"><i class="fa fa-home fa-fw mr-1"></i>İlanlar</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="/create-home"><i class="fa fa-th-list fa-fw mr-1"></i>İlan Oluştur</a>
                </li>
                <li class="nav-item pl-1">
                                <a (click)="exitAccount()" class="nav-link" href="/home"><i class="fa fa-th-list fa-fw mr-1"></i>Çıkış Yap</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mx-auto mt-4 ">
    <div class="row">
        <div class="col-md-4 card-container" >
            <div class="card" *ngFor="let home of homeList" style="width: 18rem;">
                <a href="{{home.homeImage}}" target="_blank">
                <img src={{home.homeImage}} class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{home.homeName}}</h5>
                    <div class="row">
                <h6 class="card-subtitle mb-2 text-muted col">{{home.homeRooms}}</h6>
                <h6 class="card-subtitle mb-2 text-muted col">{{home.homeType}}</h6>
                <h6 class="card-subtitle mb-2 text-muted col">{{home.homeMeters}}</h6>
                <h6 class="card-subtitle mb-2 text-muted col">{{home.homeColor}}</h6>
                    </div>
                    
                    <h6 class="card-subtitle mb-2 text-danger">{{home.homePrice}}</h6>


                    <p class="card-text">{{home.homeDesc}}</p>
                    <h6 class="card-subtitle mb-2 text-success">{{home.homeLocation}}</h6>

                    <a href="tel:+90{{home.homeAuthor}}" class="btn mr-2"><i class="fas fa-link"></i>İletişim için: {{home.homeAuthor}}</a>
                </div>
            </div>
        </div>
        </div>
        </div>




<footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Telif Hakkı</h5>
                            <p class="d-inline lead">Tüm Hakları Saklıdır. Onur Uçar © 2023<br>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">İletişim</h5>
                            <span href="tel:+905538563761" class="text-light d-block lead" style="margin-left: -20px"
                                href="#"><i class="fa fa-phone mr-2"></i>+90 (553) 856 37 61</span>
                            <span class="text-light d-block lead"><i
                                    class="fa fa-envelope mr-2"></i>onurucar1443@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center row">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>

                            <a class="text-light" href="https://www.instagram.com/onur.ucarrr/">Instagram</a>

                            <a class="text-light" href="https://www.linkedin.com/in/onurucard4/">LinkedIn</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>