<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand text-white" href="/home"><i class="fa fa-graduation-cap fa-lg mr-2"></i>EMLAK PORTALI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
            aria-controls="nvbCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active pl-1">
                    <a class="nav-link" href="/home"><i class="fa fa-home fa-fw mr-1"></i>Anasayfa</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="/hakkimizda"><i class="fa fa-th-list fa-fw mr-1"></i>Hakkımızda</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="/sorular"><i class="fa fa-info-circle fa-fw mr-1"></i>Sık Sorulan Sorular</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="/login"><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>Giriş Yap</a>
                </li>
            
            </ul>
        </div>
    </div>
</nav>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700'
    rel='stylesheet' type='text/css'>

<section class="hero image-as-background"
    style="background-image: url('https://wallpapercave.com/wp/wp2464201.jpg');">
    <div class="hero-container">
        <p class="animate fadeInLeft delay-400">Emlak Portalına Hoşgeldiniz</p>
        <h1 class="hero-title animate fadeInLeft delay-600">Hayalinizdeki ev tam burada</h1>
        <a href="/login" class="hero-button animate fadeInLeft delay-800" title="Click to see more">Giriş Yap</a>
    </div>
</section>
<section class="main-content">
    <h2>Nedir bu emlak portalı?</h2>
    <p>Kullanıcıların kendi evlerini tüm detaylarıyla satışa sunup diğer kullanıcıların evlerini inceleyebileceği bir emlak portalı. Henüz büyümekte olan ve çok yakında adını sıkça duyacağınız Emlak Portalı, 2023 yılında sizlerle buluştu.</p>

    <p>Tamamen ücretsiz olan, ilan süresi koyulmayan, kullanıcı dostu bir siteyiz. Serbest piyasa kavramının tam anlamına kavuştuğu yerdesiniz. Hemen siz de ücretsiz kayıt olup ev ilanlarını inceleyebilir veya kendi ilanınızı verebilirsiniz. 10.000'den fazla kullanıcı ile Emlak Portalı'nda aradığınız evi bulamamanız imkansız.</p>
    <h2>Kim tarafından kuruldu?</h2>
    <p>Emlak Portalı 2023 yılında bir üniversite öğrencisi olan Onur Uçar tarafından kuruldu. 2023 yılından itibaren yayın hayatına devam etmekte olan Emlak Portalı gelecek güncellemelerle birlikte birçok yeni özellik kazanıp piyasanın devi olmak için hazırlanıyor.</p>
    <h2>Ekibinizde kaç kişi var?</h2>
    <p>Bir üniversite öğrencisi olan Onur Uçar tarafından yapılmıştır. </p>

</section>

<!--- Footer --->
<footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Telif Hakkı</h5>
                            <p class="d-inline lead">Tüm Hakları Saklıdır. Onur Uçar © 2023<br>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">İletişim</h5>
                            <span href="tel:+905538563761" class="text-light d-block lead" style="margin-left: -20px" href="#"><i
                                    class="fa fa-phone mr-2"></i>+90 (553) 856 37 61</span>
                            <span class="text-light d-block lead"><i
                                    class="fa fa-envelope mr-2"></i>onurucar1443@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center row">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>

                            <a class="text-light" href="https://www.instagram.com/onur.ucarrr/">Instagram</a>

                            <a class="text-light" href="https://www.linkedin.com/in/onurucard4/">LinkedIn</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>